{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>افزودن رویداد</title>
    <link rel="stylesheet" href="{% static 'style_event.css' %}">
</head>
<body>
    <div class="title">اضافه کردن رویدادهای روز مشخص</div>
    <div class="register-form">
        <form>
            <div class="select_days">
                <div>انتخاب روز</div>
                <hr>
                <div class="input_date">
                    <input type="number" id="input_year" name="input_year" placeholder="سال"><br>
                    <input type="number" id="input_month" name="input_month" placeholder="ماه"><br>
                    <input type="number" id="input_day" name="input_day" placeholder="روز"><br>
                </div>
            </div>
            <input type="text" id="StuNum" name="StuNum" placeholder="محتوای رویداد" required><br>
            <input type="time" id="time" name="time"><br>
            <input type="submit" class="submit-btn" value="ثبت">
        </form>
    </div>
</body>
</html>